header
    position: fixed
    background-color: #212529
    width: 100%
    z-index: 1
    .menu
        padding: 22px 0
        .imgbox
            width: 180px
            img
                &:hover
                    cursor: pointer
        nav
            word-spacing: 38px
            a
                font-size: 16px
                color: #ffff
                letter-spacing: 2px
                transition: .6s
                &:hover
                    cursor: pointer
                    color: #ffc800
